[project]
name = 'lacosmic'
description = 'Laplacian Cosmic Ray Identification'
readme = 'README.rst'
license = {file = 'LICENSE.rst'}
authors = [
    {name = 'Larry Bradley', email = 'larry.bradley@gmail.com'},
]
keywords = [
    'astronomy',
    'astrophysics',
    'images',
    'cosmic rays',
    'cosmic-ray removal',
    'filtering',
]
classifiers = [
    'Intended Audience :: Science/Research',
    'License :: OSI Approved :: BSD License',
    'Natural Language :: English',
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Topic :: Scientific/Engineering :: Astronomy',
]
dynamic = ['version']
requires-python = '>=3.9'
dependencies = [
    'numpy>=1.22',
    'astropy>=5.0',
    'scipy>=1.7.2',
]

[project.urls]
Homepage = 'https://github.com/larrybradley/lacosmic'
Documentation = 'https://lacosmic.readthedocs.io/en/stable/'

[project.optional-dependencies]
all = [
    'matplotlib>=3.5',
]
test = [
    'pytest-astropy>=0.10',
]
docs = [
    'lacosmic[all]',
    'sphinx',
    'sphinx-astropy>=1.6',
    'tomli; python_version < "3.11"',
]

[build-system]
requires = [
    'setuptools>=61.2',
    'setuptools_scm>=6.2',
]
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]
write_to = 'lacosmic/version.py'

[tool.setuptools]
zip-safe = false
include-package-data = false

[tool.setuptools.packages.find]
namespaces = false

[tool.setuptools.package-data]
'lacosmic' = [
    'data/*',
]

[tool.pytest.ini_options]
minversion = 7.0
testpaths = [
    'lacosmic',
    'docs',
]
norecursedirs = [
    'docs/_build',
    'extern',
]
astropy_header = true
doctest_plus = 'enabled'
text_file_format = 'rst'
addopts = '--color=yes --doctest-rst'
xfail_strict = true
remote_data_strict = true
filterwarnings = [
    'ignore:numpy.ufunc size changed:RuntimeWarning',
]

[tool.coverage.run]
omit = [
    'lacosmic/_astropy_init*',
    'lacosmic/conftest.py',
    'lacosmic/*setup_package*',
    'lacosmic/tests/*',
    'lacosmic/*/tests/*',
    'lacosmic/extern/*',
    'lacosmic/version*',
    '*/lacosmic/_astropy_init*',
    '*/lacosmic/conftest.py',
    '*/lacosmic/*setup_package*',
    '*/lacosmic/tests/*',
    '*/lacosmic/*/tests/*',
    '*/lacosmic/extern/*',
    '*/lacosmic/version*',
]

[tool.coverage.report]
exclude_lines = [
    'pragma: no cover',
    'except ImportError',
    'raise AssertionError',
    'raise NotImplementedError',
    'def main\\(.*\\):',
    'pragma: py{ignore_python_version}',
    'def _ipython_key_completions_',
]

[tool.build-sphinx]
github_project = 'spacetelescope/lacosmic'

[tool.isort]
skip_glob = [
    'lacosmic/*__init__.py*',
]
known_first_party = [
    'lacosmic',
    'extension_helpers',
]
use_parentheses = true

[tool.black]
force-exclude = """
(
  .*
)
"""
